/* general design */

body {background-color: black;    
    margin: 0%;
}

.wrapper {margin: 0 auto;
max-width: 1500px;}


/* header */

header {
    background-color: rgb(73, 5, 73);
    display: grid;
    grid-template-columns: 65% 7% 1fr;
    width: 1500px;
    font-family: 'IM Fell DW Pica SC', serif;
    position: fixed;
    opacity: 90%;
}

menu a {
    font-size: 135%;
    display: inline-block;
    width: 20%;
}

a:link {
    color: white;
    text-decoration: none;
} 

a:visited {
    color: white;
    text-decoration: none;
}

 nav {
     padding-top: 20px;
     color: white;
 }

.covid {
    font-size: 70%;
    margin-left: 20%;
}

.some {
    font-size: 115%;
    padding-top: 3px;
}


/* main */

 video {
     margin-left: 50%;
     width: 100%;
     
 }
 


p {
    color: white;
    padding-right: 45%;
    padding-top: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
}

.logo{
    width: 40%;
    padding-left: 20%;
    padding-top: 5%;
    margin: -2%;
}
img {
    width: 65%;
    padding-left: 15%;
}
video {
    widows: 70%;
}
.moon {
    width: 15%;
    padding-bottom: 6%;
    padding-left: 5%;
}
h1 {
    color: white;
    font-family: 'Henny Penny', cursive;
    padding-top: 0;
    padding-left: 35%;
    padding-bottom: 5%;
    margin: 0;
    transform: rotate(14deg);
}



.tickets {
    color: white;
    font-family: 'Henny Penny', cursive;
    padding-top: 0;
    padding-left: 35%;
    padding-bottom: 5%;
    margin: 0;
    font-size: 170%;
    transform: rotate(-14deg);
}

.tickets:hover {
color: yellow;
}

#top {
    padding-top: 5%;
}


article:nth-child(even)  {background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(113,51,125,1) 31%, rgba(139,62,154,1) 72%, rgba(0,0,0,1) 100%);
height: 600px;
display: grid;
grid-template-columns: 1fr 1fr;
align-content: center;
justify-content: center;
}


article:nth-child(odd) { background: black;
height: 600px;
display: grid;
grid-gap: 20px;
grid-template-columns: 1fr 1fr;
align-content: center;
justify-content: center;
}

#band-top {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(113,51,125,1) 31%, rgba(139,62,154,1) 72%, rgba(0,0,0,1) 100%);
        height: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        justify-content: center;
}

section {
    padding: 0;
    height: 500px;
}

.about {
width: 65%;
padding-left: 15%;
padding-top: 8%;
}

.theband {
    width: 40%;
}

/* the band */

.bandfoto1 {
    padding-left: 38%;
    width: 125%;
}

.theband {
    padding-left: 10%;
    padding-bottom: 10%;
    width: 30%;
}
.bass {
    padding-top: 10%;}

    .bandmembers {
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
/* footer */

footer {
    
    color: white;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr 15% 15% 1fr;
}


.highlight {
    grid-column: 1;
    width: 70%;
    padding-left: 0;
    justify-self: center;
    align-self: center;
}
.policy {
    grid-column: 2;
    text-align: end;
    align-self: center;
}

.ads {
    grid-column: 3;
    text-align: start;
    align-self: center;
}

.media {
    grid-column: 4;
    justify-self: center;
    align-self: center;
    width: 50%;
    padding-right: 30%;
}


h6 {
    margin: 0%;
    padding: 0;
}

/*desktop*/





/* tablet */

@media
(max-width: 982px)
{
    header {
        background-color: rgb(73, 5, 73);
        display: grid;
        grid-template-columns: 65% 1% 1fr;
        width: 982px;
        font-family: 'IM Fell DW Pica SC', serif;
        position: fixed;
        opacity: 90%;
    }

    menu a {
    font-size: 75%;
    display: inline-block;
    width: 20%;} 
    
    nav {display: none;}

}  
 /* mobil */
 


@media
(max-width: 700px)
{
#top {padding-top: 20%;}

#band-top {display: none;}

.theband {
    width: 80%;
}

header {
    width: 600px
}

p {
    display: none;
}

section {
    height: 300px
}

article:nth-child(even) {
    height: 400px;
}

article:nth-child(odd) {
    height: 400px;
}

footer {
    grid-template-columns: 1fr 1fr;
}

.policy {
    grid-column: 1;
}

.ads {
    grid-column: 2;
}

.media {
    display: none
}

.about {
width: 100%;
padding-left: 50%;
padding-top: 0;
}

.highlight {
    display: none;
}
.bandmembers {grid: none;}
}